udo: false
language: node_js
node_js:
  - 12
cache: 
  directories:
     - node_modules
branches:
  only:
    - gh-pages # build master branch only
script:
  - hexo generate
deploy:
  provider: pages
  skip-cleanup: true
  local-dir: public
  github-token: $access_token
  keep-history: true
  on: 
    branch: master







